**/terraform.tfvars
**/.DS_Store
**/settings.json
**/git-secret.yaml
**/tmc-registration-tkgs-21086.yaml
**/workload-git-auth.yaml
**/password-viktorious.txt
**/route53-clusterissuer-viktorious.yaml
**/00-set-environment-variables-viktorious.sh
**/tap-values-azure.yaml
**/tanzu-cluster-essentials-darwin-amd64-1.7.2.tgz
**/tanzu-cluster-essentials-linux-amd64-1.7.2.tgz
tap/tap-scripted-installation/08b-tap-configure-tls-and-secrets.sh
harbor/bitnami-harbor-values-viktorious.yaml
tmc-sm/trusted-ca.pem
tmc-sm/values-route53.yaml
tmc-sm/values.yaml
