**/terraform.tfvars
**/.DS_Store
**/settings.json
**/git-secret.yaml
**/tmc-registration-tkgs-21086.yaml
**/workload-git-auth.yaml
**/password-viktorious.txt
**/route53-clusterissuer-viktorious.yaml
**/00-set-environment-variables-viktorious.sh
**/tap-values-azure.yaml
**/tanzu-cluster-essentials-darwin-amd64-1.7.2.tgz
**/tanzu-cluster-essentials-linux-amd64-1.7.2.tgz
**/08b-tap-configure-tls-and-secrets.sh
**/bitnami-harbor-values-viktorious.yaml
**/trusted-ca.pem
**/values-route53.yaml
**/values.yaml
**/tkg-cluster-locals.tf
**/*.tgz
**/*.pem
tap/tap-scripted-installation-cloud/tanzu-cluster-essentials/*
tap/tap-scripted-installation-cloud/tap-values-cloud.yaml
tap/tap-scripted-installation-cloud/tap-install-cloud.sh
tap/tap-scripted-installation-cloud/kubeconfig-tapaks
tap/tap-scripted-installation-cloud/tap-gui-azure.yaml
tap/secrets/lsp-secrets.yaml

tmc-sm/values.yaml.old
